html body {
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url(../assests/background/background.jpg) no-repeat center center fixed;
}

.app {
    &-logo {
      width: 20%;
    }
  
    &-header {
      display: flex;
      justify-content: space-between;
  
      &-text {
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
  
        h3 {
          font-weight: 300;
          color: rgb(197, 220, 228);
        }
      }
    }
  
    &-banner {
      margin: 2rem auto 0;
      width: 60%;
  
      &-text {
        display: flex;
        align-items: center;
  
        img {
          width: 3rem;
          margin-left: 1rem;
        }
      }
  
      h3 {
        font-weight: 300;
        color: rgb(197, 220, 228);
      }
    }
  
    &-content {
      display: flex;
      margin: 3rem 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      );
  
      &-field {
        margin: 0 auto;
        padding: 1rem 0;
        width: 50%;
  
        &-input {
          margin: 1rem auto;
        }
  
        h3 {
          color: white;
          text-align: center;
        }
  
        &-totalAmount {
          color: rgb(200, 179, 219);
          font-weight: bold;
          font-size: 2rem;
          padding: 0 1rem;
        }
      }
  
      &-traver {
        margin: 0 auto;
        padding: 1rem 0;
        width: 30%;
      }
    }
  
    &-views {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      );
  
      h3 {
        color: white;
        padding: 2rem 0;
        text-align: center;
      }
  
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
  
        &-info {
          width: 30%;
          display: flex;
          flex-direction: column;
  
          &-input {
            margin: 1rem;
          }
        }
      }
    }
  }